Makefile
*.in
*.o
tags
cscope.*
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
missing
src/Makefile
src/bin/.deps
src/bin/Makefile
src/bin/elink
autom4te.cache
